*.py[oc]
*.swp
build
dist
*.egg-info
*test.db
.coverage
.project
.pydevproject
.settings
*.pyc
*.pyo
*.swp
*.zip
.DS_Store
.vagrant
django.wsgi
.idea/
upload/*
stats_crawler/node_modules/*
.project
.pydev_project
.pydevproject
.ropeproject
celerybeat-schedule
lib
lib64
bin
develop-eggs
downloads
include
local
share
static/*
docs/_*
.Python
