# Deployment requirements
django-all-access==0.8
requests-oauthlib==0.6.0
requests==2.9.1
oauthlib==1.0.3
pycrypto==2.6.1
Django==1.9.1
gunicorn>=19.4,<19.5
dj-database-url==0.3.0
dj-static==0.0.6
static3==0.6.1
psycopg2==2.6.1
